body {
    background-color: #06D6A0;
  }
  
  .container {
    width: 200px;
    height: 190px;
    margin: 25vh auto 0 auto;
    perspective: 4000px;
    animation: rotate 8s linear infinite forwards;
    transform-style: preserve-3d;
  }
  
  .brick {
    transform-style: preserve-3d;
    width: 200px;
    animation: hover 2000ms ease-in-out infinite alternate 0s forwards running
  }
  
  .pane, .knobs, .tubes {
    position: absolute;
  }
  
   .knobs {
    width: 100px;
    height: 190px;
    transform: translateZ(31px);
  }
  
  .knob {
    position: absolute;
    background-color: #333;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #073B4C;
    box-shadow: 1px 1px 0px 0px #073B4C;
  }
  
  .knob-1 {
    left: 10px;
    top: 10px;
  }
  
  .knob-2 {
    left: 10px;
    top: 56px;
  }
  
  .knob-3 {
    left: 10px;
    bottom: 59px;
  }
  
  .knob-4 {
    left: 10px;
    bottom: 10px;
  }
  
  .knob-5 {
    right: 10px;
    top: 10px;
  }
  
  .knob-6 {
    right: 10px;
    top: 56px;
  }
  
  .knob-7 {
    right: 10px;
    bottom: 59px;
  }
  
  .knob-8 {
    right: 10px;
    bottom: 10px;
  }

  .front {
    width: 100px;
    height: 190px;
    transform: translateZ(30px);
    background-color: #09485d;
  }
  
  .back {
    width: 100px;
    height: 190px;
    transform: translateZ(-20px);
    background-color: rgb(0, 86, 139);
    box-shadow: inset 0 0 0 8px #0075cf;
  }
  
  .left {
    width: 50px;
    height: 190px;
    transform-origin: left;
    transform: rotateY(-90deg) translateX(-20px);
    background-color: #0075cf;
  }
  
  .right {
    width: 50px;
    height: 190px;
    transform-origin: right;
    transform: rotateY(90deg) translateX(20px) translateZ(50px);
    background-color: #0075cf;
  }
  
  .top {
    width: 100px;
    height: 50px;
    transform-origin: top;
    transform: rotateX(-90deg) translateY(-30px);
    background-color: #09485d;
  }
  
  .bottom {
    width: 100px;
    height: 50px;
    transform-origin: bottom;
    transform: rotateX(90deg) translateY(30px) translateZ(-140px);
    background-color: #0075cf;
  }

  .tubes {
    width: 100px;
    height: 190px;
    transform: translateZ(-21px);
   }
   
   .tube {
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #690000;
    box-shadow: inset 1px 0px 0px 0px #d40000;
    border: solid 1px #940000;
   }
   
   .tube-1 {
     right: calc(50% - 20px);
     top: 25px;
   }
   
   .tube-2 {
     right: calc(50% - 20px);
     top: 78px;
   }
   
   .tube-3 {
     right: calc(50% - 20px);
     bottom: 25px;
   }

   .shadow {
    width: 100px;
    height: 7px;
    background-color: rgba(0,0,0,0.6);
    margin: 70px auto 0 auto;
    border-radius: 50%;
    animation: shadow-dynamics 2000ms linear infinite alternate 0s forwards running;
  }
  
  @keyframes rotate {
    0% {}
    100% {
      transform: rotateY(360deg);
    }
  }
  
  @keyframes hover {
    0% {
      transform: rotateY(-15deg) rotateZ(-20deg) ;
    }
    100% {
      transform: translate(0,30px) rotateY(-15deg) rotateZ(-20deg);
    }
  }
  
  @keyframes shadow-dynamics {
    0% {}
    100% {
      background-color: rgba(0,0,0,0.7);
      width: 60px;
      height: 20px;
    }
  
  }